@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box;}
html, body {
	width:100%;
	height:100%;
	font:10px/180%; 
	font-family: 'Cormorant Garamond','Gowun Batang', serif; color:rgba(89,89,89,100);
	background:#fdeed9;
}
a {
	text-decoration:none; 
	color:rgba(89,89,89,100);
}

img {
	display:block;	
}
#layout{		
	max-width:800px;		
	margin:auto;	
	/*display:grid;
	place-items:center;*/
	position:relative;	
}
/*(벤더프리픽스)스크롤바 넓이변경*/
::-webkit-scrollbar {
		width:1px; 
}

/*상단*/
header{
	width:750px;
	margin:auto;
}
header nav{
	display:flex;
	list-style:none;
	padding:50px 70px 10px 70px;	
	}
header li{
	display:block;
	padding:0 30px 0 30px;
	font-size:1.1rem;
}
header li a{
	display:inline-block;
	transition:0.8s;
}
header li a:hover{
	transform:translateY(-10px);
}
header #headerline{
	width:750px;
	padding:20px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	display:flex;
	justify-content:space-between;		
}

header .head1{	
	padding-top:70px;
	padding-bottom:40px;
	padding-right:5px;
	padding-left:5px;	
}
header .head2{	
	padding-top:70px;
	margin-left:auto;
	margin-right:auto;
	padding:65px 150px 30px 150px;border-right:1px solid gray;
	border-left:1px solid gray;
}
header .head3{	
	padding-top:40px;
	padding-bottom:40px;	
	padding-left:0;
	padding-right:5px;	
}

/*메인(from라인)*/
main{
	display:flex;
	position:relative;
	position:absolute;
}
main img{
	position:absolute;
	margin:70px;
	width:500px;
	left:200px;
	opacity:0.5;
	transition:1s;
	}
main img:hover{
	opacity:1;
}	
main p{
	font-size:3rem;
	position:absolute;
}
main p:nth-child(1){	
	left:50px;
	top:100px;
}
	
main p:nth-child(2){	
	left:80px;
	top:150px;
	animation: p2 2s ;
}
@keyframes p2{
	from {opacity:0; 
						transform:translate(-40px,-70px);}
	to {opacity:1; 
				transform:translate(0,0)}
}
main p:nth-child(3){	
	left:110px;
	top:200px;
animation: p3 2s ; 
}
@keyframes p3{
	from {opacity:0; 
						transform:translate(-70px,-100px);}
	to {opacity:1; 
				transform:translate(0,0)}
}
main p:nth-child(4){	
	left:140px;
	top:250px;
animation: p4 2s ;
}
@keyframes p4{
	from {opacity:0; 
						transform:translate(-100px,-130px);}
	to {opacity:1; 
				transform:translate(0,0)}
}
/*animation: 임의이름 지속시간 딜레이시간 both(멈춤)*/

main span{
		position:absolute;
		left:740px;
		top:200px;
	 font-size:4rem;
	 writing-mode: vertical-lr;
   transform: rotate(0deg);
	 animation:up 2s both;	 
}
@keyframes up{
	from {opacity:0; transform:translateY(50px);}
	to {opacity:1; transform:translateY(0);}
}
/*하단(fan라인)*/
footer{
	position:relative;
	position:absolute;
	top:680px;
	display:flex;
	height:700px;
}
footer img{
	width:350px;	
	opacity:0.5;
	transition:1s;
}
footer img:hover{
	opacity:1;
}
footer span{
	position:absolute;
	font-size:4rem;
	left:370px;
	top:500px;
	animation: right 2s both;
}
@keyframes right{
	from {opacity:0; transform:translateX(-50px);}
	to {opacity:1; transform:translateY(0);}
}
footer p{	
	font-size:1.3rem;	
	padding-left:40px;
	padding-top:200px;
	line-height:180%;
	animation:fp 3s 1s both;
}
@keyframes fp{
	from {opacity:0;}
	to {opacity:1;}
}
